*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deploymentTargetDropDown.xml
/.idea/dbnavigator.xml
.DS_Store
/build
/*/build
*.apk
*.aar
*.ap_
*.dex
*.class
bin/
gen/
out/
.externalNativeBuild
.cxx
Captures/
.externalNativeBuild
.cxx
google-services.json
.navigation/
captures/
*.pyc
*.pyo
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.jks
*.keystore
.swp
*~
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.oracle.com/technetwork/java/javase/troubleshoot-11.html
hs_err_pid*
replay_pid*
